/* Estructura del css:
	1.- Fonts
	2.- Clases
	3.- IDS
Ordenar alfabéticamente.
Nombres en español.
Todas las medidas de márgenes en px;

*/

@font-face {

    font-family: plane; 
    src: url(../fonts/HEADPLANE.ttf); 
   
}

body{
	
	background: url(../img/b-marco.jpg) top left no-repeat;
	background-attachment:fixed;
	background-size: cover;
	
}

.busqueda{
	
	padding-left: 15px;

}

footer{
	
	width:1000px;
	margin: 0 auto;
	color: #FFFFFF;
	background-color:#BB3941;
	padding: 4px 0 0 0;
	border-top: 1px solid black;
	
}

h1{
	
	font-family: plane;
	
}

header{
	
	height: 152px;
	background-image: url(../img/b-header.jpg);
	
}

.hotel_derecha{
	
	padding: 0 0 0 12px;
	width: 450px;
	float: right;
	
}

.hotel_izquierda{
	
	padding: 0 0 0 12px;
	float: left;
	width: 450px;
	
}

.logo{
	
	padding-right: 12px;
	width: 100px;
	height: 100px;
	float: right;
	
}

.marco{
	
	height: 1000px;
	width: 1000px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #828080;
	overflow: hidden;
	
}

.sesion{
	
	padding: 0 12px 0 0;
	float: right;

}

.titulo{
	
	width: 860px;
	heigth: 120px;
	text-align:center;
	float: left;
	font-size:22px;
	
}

#foto_hotel{
	
	float: right;
	width: 180px;
	height: 180px;
	
}

#logo{
	
	padding: 7px 0 0 0;
	width: 100px;
	height: 100px;
	
}

#nombre_hotel{
	
	float: left;
	
}