<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^hotel\/(.*)\/(.*)\/(.*)$ api.php?rquest=hotel&tipo=$1&finicio=$2&ffin=$3 [QSA,NC,L]
RewriteRule ^reserva\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)$ api.php?rquest=reserva&tipo=$1&finicio=$2&ffin=$3&username=$4&hotel=$5
</IfModule>
